<md-toolbar ng-if="app.toolbarVisible">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="app.toggleSidebar()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h1 flex>People Logger</h1>
    </div>
</md-toolbar>
<md-sidenav class="md-sidenav-left" md-component-id="sidebar">
    <md-toolbar>
        <h2 class="md-toolbar-tools">Menu</h2>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item ui-sref="home">
                <p>Home</p>
            </md-list-item>
            <md-list-item ui-sref="add">
                <p>Add person</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
<ui-view name="main" layout="column" flex></ui-view>
